# files created by the build process or recommended workflows in the docs
/Debug
/build*
compile_commands.json
.ipynb_checkpoints/
*.pkl

# ignore shaders generated during application execution
*.spv

# python tmp files
**/__pycache__/*
**/python/config/*
**/.idea/*

# operating system and IDE specific ignores
/.idea*
/cmake-build-*
/.ccls-cache
/.cache
/.vscode
/.vs
/out
/CMakeSettings.json

# vulkan, volcanite and imgui specific ignores
/imgui.ini
/volcanite
/vulkan_pipeline_cache.data
